# System files
.DS_Store
Thumbs.db
.Trashes
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
jspm_packages/
bower_components/

# Distribution directories
dist/
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 